<!-- _features.erb -->

<div class="container text-center padded features">
  <div class="row">
    <% data.features.each do |item, infos| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag infos.picture, alt: "#{item}" %>
        <h2><%= infos.title %></h2>
        <p><%= infos.tagline %></p>
      </div>
    <% end %>
  </div>
</div>
